.Row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}

.SkillFrame {
  height: 25vh;
  width: 25vw;
}

.SkillTitleText {
  font-size: calc(1.6vw + 1.6vh);
  font-weight: 600;
  color: black;
  margin-bottom: 0;
}

.SkillSubText {
  font-size: calc(1vw + 1vh);
  font-weight: 600;
  color: black;
  margin-bottom: 0;
}

.SkillDescriptiveText {
  font-size: calc(0.7vw + 0.7vh);
  font-weight: 500;
  color: black;
  margin-bottom: 1vh;
}